.hero-banner {
    background-image: url('main\ background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.button {
    background-color: #ff5733;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background-color: #ff784e;
}

.button-class {
    margin-top: -20px;
}

.square {
    width: 100px;
    height: 100px;
    background-color: #ff5733;
    display: inline-block;
}

.square:hover {
    background-color: #ff784e;
}

body {
    margin: 0;
    height: 100vh;
    background:
        linear-gradient(rgba(0, 0, 0, .45), rgba(0, 0, 0, .55)),
        url("main\ cafe\ image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar {
    position: fixed;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);

    width: 90%;
    padding: 15px 30px;

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(10px);

    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;

    z-index: 1000;
}

.navdiv {
    display: flex;
    align-items: center;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

button {
    background-color: #ff5733;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

button a {
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.logo-image {
    width: 100px;
    height: 100px;
    display: block;
}

.logo {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 150px;
    list-style: none;
    margin-left: 200px;
}

.login-btn {
    background: #ff623d;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}